<p>BIENVENUE <%= @params %> ! Voici la liste des potins : </p>

<div class = gossips>
  <% @gossips.each.with_index do |gossip, ind| %>
    <p>

      <!-- <a href="/gossip/<%= ind + 1%>">ici <%= ind %></a> -->
        Auteur : <%= gossip.author %><br/>
        Contenu : <%= gossip.content %>
    </p>
  <% end %>
</div>
